{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Django</h5>
    <div class="card-body">
        <p class="card-text">Django, a high level full stack open source web development framework written in Python, thats take care of much of the hassle of web development, so you can just focus on writing your app without needing to reinvent the wheel!</p>
        <a href="https://www.vishaljagetia.com" target="_blank" class="btn btn-danger">Know more!</a>
    </div>
</div>
</div>

{% endblock sidebar %}
